<ul>
    <li><a href="{{ path('app_index') }}">Home</a></li>
    <li><a href="{{ path('app_amine') }}">Amine</a></li>
    <li><a href="#{{ path('app_book_add') }}">Add book</a></li>
    <li><a href="#">About</a></li>
</ul>